.sidebar {
  flex-basis: 25%;
  height: 100vh;
  background-color: black;
  border-top-right-radius: 20px;
  padding-inline: 50px;
  padding-top: 100px;
}

.sidebar__title {
  font-weight: bold;
  color: white;
  margin-top: unset;
}

.sidebar__button {
  color: lightgrey;
  background-color: darkgrey;
  border: unset;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
}

.sidebar__button:hover {
  color: darkgrey;
  background-color: cornsilk;
}