.cardListing {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 10px;
  list-style-type: none;
  padding: unset;
}

.card {
  background: gray;
  padding: 20px;
  border-radius: 5px;
}