* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: unset;
}

.body {
  display: flex;
  gap: 50px;
}

.main-view {
  flex-basis: 75%;
  height: 100vh;
  padding-top: 100px;
  padding-right: 250px;
  position: relative;
}