.mealItem {
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.mealInnerWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mealImg {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.mealTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.mealDescription {
  margin: 1rem;
}

.mealPrice {
  display: block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
  width: fit-content;
}

.mealActions {
  margin-bottom: 1.5rem;
}
