#user-input {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  --inputs-gap: 1.5rem;
  gap: var(--inputs-gap);
}