.project-summary {
  position: relative;
  color: darkslategray;
}

.project-summary__title {
  margin-top: unset;
  margin-bottom: unset;
}

.project-summary__date {
  margin-top: 10px;
  display: block;
  color: gray;
}

.project-summary__description {
  margin-top: 25px;
}