.moviesListing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  gap: 1rem;
  padding: unset;
}

.movie {
  flex: 1 1 20%;
  text-align: left;
  background: gray;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1rem;
}

.moviePoster {
  width: 100%;
}

.movieOverview {
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;          
  -webkit-box-orient: vertical;
  overflow: hidden;
}